<!DOCTYPE html>
<html ng-app="restaurantsList">

<head>
	<title>Restaurant App</title>
	<script src="lib/angular.js"></script>
	<script src="app.js"></script>
	<script src="js/RestaurantsController.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
	<div class="container" ng-controller="RestaurantsCtrl">
		<div class="row" ng-show="restaurants.length">
			<div class="col-md-12">
				<h4>Search Restaurants</h4>
				<form class="form-inline" role="form">
					<div class="form-group">
						<select ng-model="searchCriteria" ng-click="search = ''">
							<option value="restaurantName">Name</option>
							<option value="restaurantLocation">Location</option>
							<option value="restaurantCuisine">Cuisine</option>
							<option value="restaurantRating">Rating</option>
						</select>
						<div id="searchInput">
							<input ng-show="searchCriteria === 'restaurantName'" type="text" ng-model="search.name" class="form-control" placeholder="Search by Name">
							<input ng-show="searchCriteria === 'restaurantLocation'" type="text" ng-model="search.location" class="form-control" placeholder="Search by Location">
							<input ng-show="searchCriteria === 'restaurantCuisine'" type="text" ng-model="search.cuisine" class="form-control" placeholder="Search by Cuisine">
							<input ng-show="searchCriteria === 'restaurantRating'" type="number" ng-model="search.rating" class="form-control" min="1" max="5"placeholder="Search by Rating">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 ng-show="restaurants.length && filtered.length">Restaurant List</h2>
				<h2 ng-show="restaurants.length && !filtered.length">No Matches</h2>
				<ul>
					<li ng-repeat="itemObj in filtered = (restaurants | filter:search)">
						{{ itemObj.name + ", " + itemObj.location + ", " + itemObj.cuisine + ", " + itemObj.rating }}
						<span class="form-group" ng-show="editing" ng-submit="editing = false">
								<form class="form-inline" role="form">
									<input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required />
									<button type="submit" class="btn btn-default btn-sm">Save</button>
								</form>
							</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<h2>New Restaurants</h2>
				<form ng-submit="addRestaurant()" class="form-inline" role="form">
					<div class="form-group">
						<input type="text" ng-model="restaurantName" class="fomr-control" placeholder="Enter name"><br />
						<input type="text" class="form-control input-sm" ng-model="restaurantLocation" placeholder="Location" required><br />
						<input type="text" class="form-control input-sm" ng-model="restaurantCuisine" placeholder="Cuisine" required><br />
						<input type="number" class="form-control input-sm" ng-model="restaurantRating" placeholder="Rating" min="1" max="5">

					</div>
					<button type="submit" calss="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
